:2015
startup php-fpm
gzip
fastcgi / 127.0.0.1:9000 php
log stdout
errors stderr
root /www/public
git {
	repo https://github.com/seblucas/cops.git
	interval 86400
	then cp /www/config_local.php /www/public/config_local.php 
	then_long composer install -d /www/public
}
